{% extends "tmpl/layout.twig" %}

{% block content %}
<section class="blog container"> 
{% for post in data %}
	{% if post.provider_url is not defined %}
		<article class="row">
			<img src="{{ post.Image|thumb }}" class="col-md-3" />
			<div class="col-md-9">
				<h2><a href="/blog/{{post.Title_slug}}">{{ post.Title }}</a></h2>
				{{ post.created|date('d/m/Y H:m') }} - {% for tag in post.tags %}<a href="/blog/cat/{{tag}}">{{ tag }}</a> {% endfor %}

				{{ post.Content|raw }}

				<a href="/blog/{{post.Title_slug}}">Read more</a>
			</div>
		</article>
	{% else %}
		<article class="row">
			<img src="http://i.embed.ly/1/display/crop?height=300&width=300&url={{ post.images[0].url|url_encode }}&key={{ globals.embedly }}" class="col-md-3"/>
			<div class="col-md-9">
				<h2><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h2>
				{{ post.created|date('d/m/Y H:m') }}
				{{ post.description }}

				<a href="{{ post.url }}" target="_blank">Read more</a>
			</div>
		</article>
	{% endif %}
{% endfor %}
</section>

{% endblock %}