{% extends "tmpl/layout.twig" %}

{% block content %}
<div class="container">
	<h1>Gallery</h1>
	{% for item in data %}
			{% set type = item.data.device|default('macbook') %}
			{% set dir = item.data.Orientation|default('landscape') %}
	<div class="row project {{ type }}-{{ dir }}">
		{% if loop.index is even %}
		<div class="col-md-6 content even">
			<div class="wrapper">
				<h2>{{ item.data.Title }}</h2>
				<p class="desc">{{ item.data.caption }}</p>
				<p>{{ item.data.tags }}</p>
				<a href="{{ item.data.url }}" class="btn">visit</a>
			</div>
		</div>
		{% endif %}
		<div class="col-md-6">
			<div class="device-mockup" data-device="{{ type }}" data-orientation="{{ dir }}" data-color="black">
    			<div class="device">
        			<div class="screen horizontal">
            			{% if type == "macbook" %}
            				<img src="{{ item.path|crop("600,415") }}"/>
            			{% elseif type == "ipad" %}
            				{% if dir == 'landscape' %}
            					<img src="{{ item.path|crop("600,515") }}"/>
            				{% else %}
            					<img src="{{ item.path|crop("515,600") }}"/>
            				{% endif %}
            			{% endif %}
        			</div>
        			<div class="button">
            			<!-- You can hook the "home button" to some JavaScript events or just remove it -->
        			</div>
    			</div>
			</div>
		</div>
		{% if loop.index is odd %}
		<div class="col-md-6 content odd">
			<div class="wrapper">
				<h2>{{ item.data.Title }}</h2>
				<p class="desc">{{ item.data.caption }}</p>
				<p>{{ item.data.tags }}</p>
				<a href="{{ item.data.url }}" class="btn">visit</a>
			</div>
		</div>
		{% endif %}
	</div>
	{% endfor %}
</div>
{% endblock %}
