
<nav class="top-nav navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><span class="glyphicon glyphicon-envelope"></span> {{ globals.email }}</li>
      <li class="last"><span class="glyphicon glyphicon-earphone"></span> {{ globals.telephone }}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/kristof.feys" id="fb"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/qreatives" id="tw"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.linkedin.com/profile/view?id=148555090" id="li"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://github.com/quietkillah" id="li"><i class="fa fa-github"></i></a></li>
        <li><a href="http://stackoverflow.com/users/1435341/kristof-feys" id="so"><i class="fa fa-stack-overflow"></i></a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-default navbar-lower" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ app.request.basepath }}/assets/img/logo-big.png"/>Kristof Feys<small>Web Developer</small></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mainnav">
      <ul class="nav navbar-nav navbar-right">
        {% for item in globals.nav %}
                {% if item.Title_slug is defined %}
                    {% if item.Title_slug == "home" %}
                        <li><a href="/">{{ item.Title_slug|capitalize }}</a></li>
                    {% else %}
                        <li><a href="/{{ item.Title_slug }}">{{ item.Title }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="/{{ item.Title }}">{{ item.Title }}</a></li>
                {% endif %}
            {% endfor %}
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">CV</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>